/*HTML Style*/
html {
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*Nav Style*/

nav ul {
    list-style-type: none;
}

nav li {
    display: inline-block;
}
