/*HTML Style*/
html {
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*Nav Style*/

nav ul {
    list-style-type: none;
}

nav li {
    display: inline-block;
}


nav {
    background-color: #3f1453;
    text-align: right;
}

nav li a {
    color: white;
    display: inline-block;
    text-decoration: none;
    padding: 10px 25px;
}

/*Tickybot About Style */

.tickybot-about {
    background: rgb(238, 247, 214);

}

#robot {
    background: rgb(224, 224, 224);
    border-radius: 50%;
}