/*HTML Style*/
html {
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    scroll-behavior: smooth;
}
/*Reset Margins-padding*/
* {
margin: 0;
padding: 0;

}

/*Mobile styles*/

@media only screen and (max-width: 424px) { 
    .paragraphsAbout {
        background-color: red;
      }
}
/*Tablet styles
@media only screen and (min-width:401px) and (max-width:960px) {
}

/*Desktop styles
@media screen (min-width:961px) {

    
}*/

/*body styles*/
.tickybot-body {
display: flex;
flex-wrap: wrap;

}
/*back to top button styles*/
#myBtn {
  
  position: fixed;
  bottom: 15px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
  }
  
  #myBtn:hover {
    background-color: rgb(193, 197, 228);
  }


/*Layer 1 Nav Style*/

nav ul {
    list-style-type: none;
}

nav li {
    display: inline-block;
}


nav {
    background-color: #3f1453;
    text-align: right;
    width: 100%;
}

nav li a {
    color: white;
    display: inline-block;
    text-decoration: none;
    padding: 10px 25px;
}

/*Tickybot layer 2 Home Style */

.tickybot-home {
    background: rgb(193, 197, 228);   
    font-size: 3rem;
    width: 100%;
    height:501px;
    display: flex;    
}


.tickystyle {

height: 120px;
text-align: center;
letter-spacing: 4.5px;
}

.styleWeight {
    font-weight: normal;
}

#robot {
    border-radius: 50%;
    height: 480px;
    display: flex;
}

.tickybot-home h1 {
    color: #3f1453;
}

.tickybot-home p {
    color: black;
    font-style: normal;
    font-size: 30px;
    margin-top: 15px;
    text-align: center;

}

.home-container {
    padding-top: 64px;
    margin-left: 80px;

}

.add-to-slack {

    margin-top: 50px;
    text-align: center;
}


/*Tickybot layer 3 About Styles */
.tickybot-about {
height: 350px;

}
.tickybot-about h1 {
    color: darkgreen;
    text-align: center;
    text-decoration: underline red;
    font-size: 2rem;
    margin-top: 15px;
}

.paragraphsAbout {
display: flex;
justify-content: space-around;
font-size: 25px;


}
.paragraphOne {
width: 550px;
margin-left: 20px;
margin-top: 40px;
text-align: justify;
}

.paragraphTwo { 
width: 550px;
margin-right: 20px;
margin-top: 40px;
text-align: justify;
}

.about-content {
    display: inline-flex;
    padding: 2% 3% 2% 3%;
}


.centerText {
    display: inline-flex;
    padding-left: 30%;
    padding-right: 30%;
    font-style: italic;
    margin-top: 2%;
    text-align: center;
}

/*Tickybot layer 4 Features Styles */

.tickybot-features{
background-color: rgb(193, 197, 228);
width: 100%;
height: 620px;

}

.tickybot-features h1 {
    color: green;
    text-align: center;
    text-decoration: underline red;
    font-size: 2rem;
    margin-top: 35px;

}

.featureBoxes{
    display: flex;
    justify-content: space-around;
}

.featureBoxOne, .featureBoxTwo,.featureBoxThree {

    width: 300px;
    background-color: #3f1453;
    height: 400px;
    margin-top: 65px;
}

.BoxOnetext, .BoxTwotext, .BoxThreetext {
margin-top: 60px;
background-color: white;
height: 120px;
text-align: center;
padding-top: 30px;
font-size: 20px;
}

.BoxOneImage img, .BoxTwoImage img, .BoxThreeImage img {
padding-left: 35px;
padding-top: 30px;

}

.changeColour{
    color: red;
    font-style: italic;
}

/*Tickybot layer 5 Add to Slack Styles */
.tickybot-add-to-slack{
    width: 100%;
    height: 450px;
}

.tickybot-add-to-slack h1 {

    color: green;
    text-align: center;
    text-decoration: underline red;
    font-size: 2rem;
    margin-top: 15px;

}

.tickybot-add-to-slack p{
    text-align: center;
    font-size: 30px;
    margin: 35px 55px;
    

}

.slackImage2{

    text-align: center;
}
/*Tickybot Footer Style */
footer {
    text-align: center;
    background: #3f1453;
    color: white;
    padding: 20px;
    width: 100%;
}